In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Reading the file
url = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'
fuel_data = pd.read_csv(url, error_bad_lines=False)
fuel_data.describe(include='all')

                       record_id  ...  fuel_cost_per_mmbtu
count                      29523  ...         29523.000000
unique                     29523  ...                  NaN
top     f1_fuel_2013_12_187_0_10  ...                  NaN
freq                           1  ...                  NaN
mean                         NaN  ...            19.304354
std                          NaN  ...          2091.540939
min                          NaN  ...           -41.501000
25%                          NaN  ...             1.940000
50%                          NaN  ...             4.127000
75%                          NaN  ...             7.745000
max                          NaN  ...        359278.000000

[11 rows x 11 columns]

In [ ]:
fuel_data.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

Question 3

In [ ]:
# lowest average fuel cost per unit burned
fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_delivered'].mean()

fuel_type_code_pudl
coal         116.951141
gas           12.095172
nuclear    28616.915039
oil          313.907691
other         16.871485
waste         18.413052
Name: fuel_cost_per_unit_delivered, dtype: float64

Question 4

In [ ]:
# standard deviation and 75th percentile of energy per unit in 2 decimal places
fuel_data['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

Question 5

In [ ]:
# skewness for fuel quantity burned
fuel_data['fuel_qty_burned'].skew()

15.851495469109503

In [ ]:
# kurtosis for fuel quantity burned
fuel_data['fuel_qty_burned'].kurt()

651.3694501337732

Question 6

In [ ]:
# feature with missing values
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [ ]:
# percent of missing values
fraction_missing  = fuel_data['fuel_unit'].isnull().sum()/len(fuel_data['fuel_unit'])
percent_missing = 100 * fraction_missing
percent_missing

0.609694136774718

Question 8

In [ ]:
# correlation with fuel_cost_per_unit_burned
fuel_data.corr()

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.006122
report_year                           0.093323  ...             0.010261
fuel_qty_burned                      -0.057447  ...            -0.001896
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
fuel_cost_per_mmbtu                   0.006122  ...             1.000000

[7 rows x 7 columns]

Question 9

In [ ]:
# grouping data by fuel type and report year
fuel_data.groupby(['fuel_type_code_pudl', 'report_year'])['fuel_cost_per_unit_burned'].count()

fuel_type_code_pudl  report_year
coal                 1994           475
                     1995           475
                     1996           431
                     1997           417
                     1998           431
                                   ...
waste                2014            18
                     2015            18
                     2016            17
                     2017            15
                     2018            16
Name: fuel_cost_per_unit_burned, Length: 148, dtype: int64

In [ ]:
# percentage change in the fuel cost per unit burned
percent_change = 100 * ((431-475)/431)
percent_change

-10.208816705336426

Question 10

In [ ]:
# Highest fuel_cost_per_unit_delivered
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending=False)

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
2015      326.535511
1998      287.154420
2014      192.737183
2013      172.307591
2004      139.524275
2016      103.901761
2010       91.862105
1994       63.636060
2012       60.994502
2001       60.050396
2011       59.774667
2008       58.588197
2003       55.663493
2002       47.594361
2017       46.196861
2007       43.325023
2005       41.438184
2006       38.657484
1995       32.735269
1999       25.551627
Name: fuel_cost_per_unit_delivered, dtype: float64