<a href="https://colab.research.google.com/github/Wolemercy/Hamoye-Internship/blob/master/Wole_Ajewole_Hamoye_Stage_B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# Obtaining the dataset
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')
data.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [3]:
data.head()
# renaming columns
column_names =  {'date':'Date', 'Appliances':'Appliances', 'lights':'Lights', 'T1': 'Temp_Kitchen', 'RH_1':'Humidity_Kitchen', 'T2':'Temp_Living_Room', 'RH_2':'Humidity_Living_Room',
                 'T3':'Temp_Laundry', 'RH_3':'Humidity_Laundry', 'T4':'Temp_Office', 'RH_4':'Humidity_Office', 'T5':'Temp_Bathroom', 'RH_5':'Humidity_Bathroom','T6':'Temp_Out_North', 
                 'RH_6':'Humidity_Out_North', 'T7':'Temp_Ironing', 'RH_7':'Humidity_Ironing', 'T8': 'Temp_Teenager', 'RH_8':'Humidity_Teenager', 'T9':'Temp_Parents', 'RH_9':'Humidity_Parents',
                 'T_out':'Temp_Out_Chievres', 'Press_mm_hg':'Pressure', 'RH_out':'Humidity_Out_Chievres', 'Windspeed':'Wind_Speed', 'Visibility':'Visibility', 'Tdewpoint':'Tdewpoint',
                 'rv1':'Random_1', 'rv2':'Random_2'}
data = data.rename(columns = column_names)
data.columns

Index(['Date', 'Appliances', 'Lights', 'Temp_Kitchen', 'Humidity_Kitchen',
       'Temp_Living_Room', 'Humidity_Living_Room', 'Temp_Laundry',
       'Humidity_Laundry', 'Temp_Office', 'Humidity_Office', 'Temp_Bathroom',
       'Humidity_Bathroom', 'Temp_Out_North', 'Humidity_Out_North',
       'Temp_Ironing', 'Humidity_Ironing', 'Temp_Teenager',
       'Humidity_Teenager', 'Temp_Parents', 'Humidity_Parents',
       'Temp_Out_Chievres', 'Pressure', 'Humidity_Out_Chievres', 'Wind_Speed',
       'Visibility', 'Tdewpoint', 'Random_1', 'Random_2'],
      dtype='object')

In [4]:
# Dropping Date and Lights Columns
df = data.drop(columns = ['Date', 'Lights'])

In [5]:
# Normalise the dataset
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [6]:
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns = df.columns)
normalised_df.head()

   Appliances  Temp_Kitchen  Humidity_Kitchen  ...  Tdewpoint  Random_1  Random_2
0    0.046729       0.32735          0.566187  ...   0.538462  0.265449  0.265449
1    0.046729       0.32735          0.541326  ...   0.533937  0.372083  0.372083
2    0.037383       0.32735          0.530502  ...   0.529412  0.572848  0.572848
3    0.037383       0.32735          0.524080  ...   0.524887  0.908261  0.908261
4    0.046729       0.32735          0.531419  ...   0.520362  0.201611  0.201611

[5 rows x 27 columns]

Question 12

In [7]:
# Getting the model
from sklearn.linear_model import LinearRegression
linear_model_sub = LinearRegression()
# Getting the subset of the data
data_sub = normalised_df[['Temp_Living_Room','Temp_Out_North']]
data_sub.head()

   Temp_Living_Room  Temp_Out_North
0          0.225345        0.381070
1          0.225345        0.375443
2          0.225345        0.367487
3          0.225345        0.363800
4          0.225345        0.361859

In [8]:
# split the dataset
from sklearn.model_selection import train_test_split
x_train_sub, x_test_sub, y_train_sub, y_test_sub = train_test_split(data_sub['Temp_Living_Room'], data_sub['Temp_Out_North'], test_size = 0.3, random_state = 42)

In [9]:
# fitting the model
linear_model_sub.fit(x_train_sub.values.reshape(-1,1), y_train_sub)
# obtaining predictions
y_pred = linear_model_sub.predict(x_test_sub.values.reshape(-1,1))

In [10]:
# r-squared
from sklearn.metrics import r2_score
r2_score = r2_score(y_test_sub,y_pred)
round(r2_score, 2)

0.64

Question 13

In [11]:
features_df = normalised_df.drop(columns = ['Appliances'])
target = normalised_df['Appliances']

In [12]:
# split the dataset
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_df, target, test_size = 0.3, random_state = 42)

In [13]:
# Model the data
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
# fit the model to the data
linear_model.fit(x_train, y_train)
# obtain predictions
y_predict = linear_model.predict(x_test)

In [14]:
# MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, y_predict)
round(mae,2)

0.05

Question 14

In [15]:
# RSS
rss = np.sum(np.square(y_test - y_predict))
round(rss,2)

45.35

Question 15

In [16]:
# RMSE
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_predict))
round(rmse,3)

0.088

Question 16

In [17]:
# r-squared
from sklearn.metrics import r2_score
r2_score = r2_score(y_test,y_predict)
round(r2_score, 2)

0.15

Question 17

In [18]:
# Lowest and Highest Weights
def get_weights_df (model, feat, col_name):
  # this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

In [19]:
linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')
linear_model_weights

                 Features  Linear_Model_Weight
0    Humidity_Living_Room            -0.456698
1       Temp_Out_Chievres            -0.321860
2        Temp_Living_Room            -0.236178
3            Temp_Parents            -0.189941
4       Humidity_Teenager            -0.157595
5   Humidity_Out_Chievres            -0.077671
6        Humidity_Ironing            -0.044614
7        Humidity_Parents            -0.039800
8           Temp_Bathroom            -0.015657
9            Temp_Kitchen            -0.003281
10               Random_1             0.000770
11               Random_2             0.000770
12               Pressure             0.006839
13           Temp_Ironing             0.010319
14             Visibility             0.012307
15      Humidity_Bathroom             0.016006
16        Humidity_Office             0.026386
17            Temp_Office             0.028981
18             Wind_Speed             0.029183
19     Humidity_Out_North             0.038049
20       Humidity_Laundry             0.096048
21          Temp_Teenager             0.101995
22              Tdewpoint             0.117758
23         Temp_Out_North             0.236425
24           Temp_Laundry             0.290627
25       Humidity_Kitchen             0.553547

Question 18

In [20]:
# Ridge Reg
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha = 0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [21]:
# RMSE_ridge
y_pred_ridge = ridge_reg.predict(x_test)
rmse_ridge = np.sqrt(mean_squared_error(y_test, y_pred_ridge))
round(rmse_ridge,3)

0.088

Question 19

In [22]:
# Lasso Regression
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha = 0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [23]:
lasso_weights = get_weights_df(lasso_reg, x_train, 'Lasso_Weight')
lasso_weights

                 Features  Lasso_Weight
0   Humidity_Out_Chievres     -0.049557
1       Humidity_Teenager     -0.000110
2            Temp_Kitchen      0.000000
3               Tdewpoint      0.000000
4              Visibility      0.000000
5                Pressure     -0.000000
6       Temp_Out_Chievres      0.000000
7        Humidity_Parents     -0.000000
8            Temp_Parents     -0.000000
9           Temp_Teenager      0.000000
10       Humidity_Ironing     -0.000000
11               Random_1     -0.000000
12           Temp_Ironing     -0.000000
13         Temp_Out_North      0.000000
14      Humidity_Bathroom      0.000000
15          Temp_Bathroom     -0.000000
16        Humidity_Office      0.000000
17            Temp_Office     -0.000000
18       Humidity_Laundry      0.000000
19           Temp_Laundry      0.000000
20   Humidity_Living_Room     -0.000000
21       Temp_Living_Room      0.000000
22     Humidity_Out_North     -0.000000
23               Random_2     -0.000000
24             Wind_Speed      0.002912
25       Humidity_Kitchen      0.017880

Question 20

In [24]:
# RMSE
y_pred_lasso = lasso_reg.predict(x_test)
rmse_lasso = np.sqrt(mean_squared_error(y_test, y_pred_lasso))
round(rmse_lasso,3)

0.094